* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* =================== Section Three ==================== */

#sect__three {
  width: 100%;
  height: 100vh;
  cursor: url(../images/play_green.svg), auto;
}
.div__main_father {
  width: 100%;
  height: 100vh;
}
.main__div {
  width: 100%;
  display: flex;
  height: auto;
  border: 1px solid black;
}
.childs {
  width: 25%;
  height: 100vh;
  transition: all 0.3s ease;
}
.childs:nth-child(1) {
  background-image: url(../images/map_panel_2048.jpg);
  background-position: center;
  background-size: cover;
}
.childs:hover {
  width: 30%;
}
.main__div:hover .change {
  background-color: rgb(67, 211, 0);
  background-blend-mode: darken;
}
#one {
  background-image: url(../images/lauren_home_portrait.jpg);
  background-position: center;
  background-size: cover;
}
#one:hover {
  background-color: transparent;
}
#two {
  background-image: url(../images/saiful_home_portrait.jpg);
  background-position: center;
  background-size: cover;
}
#two:hover {
  background-color: transparent;
}
#three {
  background-image: url(../images/uma_home_portrait.jpg);
  background-position: center;
  background-size: cover;
}
#three:hover {
  background-color: transparent;
}

#child__one:hover button {
  display: block;
}

.logo__img {
  width: 250px;
  height: 250px;
  padding: 30px 30px;
}
.logo__img .div__header {
  padding-top: 50%;
  color: aliceblue;
}

.style__btn {
  padding-top: 250px;
  padding-left: 30px;
}
.style__btn button {
  padding: 7px 30px;
  display: none;
}
.style__btn button:hover {
  cursor: pointer;
}
.footer {
  width: 36%;
  height: 5vh;
  background-color: rgba(68, 67, 67, 0.932);
  border-radius: 10px;
  position: fixed;
  left: 30px;
  bottom: 50px;
  color: white;
  display: flex;
  align-items: center;
}

.footer h2,
a {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer a {
  color: white;
  padding: 0px 5px;
}
